@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap')

body
  font-family: 'Roboto', sans-serif
  font-size: 63%

div
  font-size: 0.9rem

.justify-content-center
  justify-content: center

.justify-content-left
  justify-content: left

.justify-content-right
  justify-content: flex-end

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.elevation-0
  box-shadow: none

.elevation-1
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2)

.elevation-2
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2)

.elevation-3
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2)

.elevation-4
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 4px 8px rgba(16,22,26,.2), 0 18px 46px 6px rgba(16,22,26,.2)

.rounded-0
  border-radius: 0!important
.rounded-1
  border-radius: 5px!important
.rounded-2
  border-radius: 10px!important
.rounded-3
  border-radius: 15px!important
.rounded-4
  border-radius: 20px!important

.w-100
  width: 100%!important