.shadow-sm {
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.2)!important;
}
.plain-link {
    color: inherit!important;
}
.plain-link:hover {
    text-decoration: none!important
}
.plain-button {
    background: none!important;
    border: none;
}
.plain-button:focus {
    outline: none!important
}
.line-height-1 {
    line-height: 1;
}